.root{
	 -fx-font-size: 1.0em;
     -fx-padding: 1.0 3.0 1.0 2.0;
	 -fx-background-color: black;
	 }

.chart {
    -fx-padding: 2.0px;
}
.chart-content {
    -fx-padding: 2.0px;    
}
  
.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: .6em;
}
 
.axis-label {
  -fx-text-fill: #4682b4;
}
 
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 2.0px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0.0;
}

.chart-series-line {    
    -fx-stroke-width: 1.0px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: #FF2222; }

.axis{
  -fx-tick-label-font-size: .8em;
}

.chart-plot-background {
    -fx-background-color: black;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
     -fx-stroke-width: 1.0px;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
    -fx-stroke-width: 1.0px;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0.0;
}
.chart-legend-item {
    -fx-text-fill: #191970;
}

.label {	
	  -fx-text-fill: #4682b4;
	  -fx-padding: 1.0 2.0 1.0 2.0;
}

.cur-temp-lbl { 
	-fx-border-radius: 2.0 2.0 0.0 0.0;
    -fx-background-radius: 1.0 2.0 0.0 0.0;
	-fx-background-color: #4332ab; -fx-text-fill: white;
} 
.hi-temp-lbl {
	-fx-border-radius: 2.0 2.0 0.0 0.0;
    -fx-background-radius: 1.0 2.0 0.0 0.0;
	-fx-background-color: #ab326f; -fx-text-fill: white;
} 
.lo-temp-lbl {
	-fx-border-radius: 2.0 2.0 0.0 0.0;
    -fx-background-radius: 1.0 2.0 0.0 0.0;
	-fx-background-color: #3290ab; -fx-text-fill: white;
} 

.filename-label{
	-fx-text-fill: #777698;
	-fx-padding: 1.0 2.0 1.0 12.0;
    -fx-font-size: 1.6em;
}